{% extends "base.html" %}
{% block content %}
<body class="d-flex flex-column h-100">
    <main class="container-fluid w-50 mb-3" role="main" id="main">
        <form action="{% url 'add' %}" method="post" enctype="multipart/form-data" id="addcardform">
            {% csrf_token %}
            {% if msg %}
            <div id="msgbox" style="--bs-bg-opacity: .05" class="border rounded-pill p-2 m-2 text-center {% if err %}border-danger bg-danger{% else %}border-success bg-success{% endif %}">
                <p class="m-1 {% if err %}text-danger{% else %}text-success{% endif %}">
                    {{ msg }}
                </p>
            </div>
            {% endif %}
            <div class="mb-3">
                <label for="name" class="form-label">Task name</label>
                <input type="text" class="form-control" id="name" aria-describedby="namehelp" name="name">
                <div id="namehelp" class="form-text">A name of the task.</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" aria-describedby="descrhelp" name="description"></textarea>
                <div id="descrhelp" class="form-text">A long description for a task.</div>
            </div>
            <div class="mb-3">
                <label class="form-check-label" for="imgfile">Task image</label>
                <input type="file" class="form-control" id="imgfile" aria-describedby="imghelp" name="imgfile">
                <div id="imghelp" class="form-text">An image to show on task background.</div>
            </div>
            <div class="mb-3">
                <label for="due_to" class="form-label">Due to</label>
                <input type="date" class="form-control" id="due_to" aria-describedby="due_tohelp" name="due_to">
                <div id="due_tohelp" class="form-text">Time, before which task must be done.</div>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </main>
</body>
{% endblock %}