{% extends "base.html" %}
{% load static %}
{% block content %}
<body class="d-flex flex-column h-100">
    <main class="container-fluid w-50 mb-3 text-center" role="main" id="main">
        <form onsubmit="{% url 'reg' %}" method="post" id="regform">
            {% csrf_token %}
            {% if msg %}
            <div id="msgbox" style="--bs-bg-opacity: .05" class="border rounded-pill p-2 m-2 {% if err %}border-danger bg-danger{% else %}border-success bg-success{% endif %}">
                <p class="m-1 {% if err %}text-danger{% else %}text-success{% endif %}">
                    {{ msg }}
                </p>
            </div>
            {% endif %}
            <img class="mb-4" src="{% static 'cat-no-bg.png' %}" width="72">
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="login" placeholder="Login" name="login">
                <label for="login">Login</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                <label for="password">Password</label>
            </div>
            <button class="w-50 btn btn-lg btn-primary m-2" type="submit">Sign up</button>
        </form>
    </main>
    {% if msg %}
    {% if not err %}
    <script>setTimeout(() => {
        window.location.replace('/')
      }, "2000")
    </script>
    {% endif %}
    {% endif %}
</body>
{% endblock %}